<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hyperledger.justitia.common.face.dao.mapper.FabricCaMapper" >
  <resultMap id="BaseResultMap" type="org.hyperledger.justitia.common.bean.FabricCa" >
    <id column="id" property="id" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from fabric_ca
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.hyperledger.justitia.common.bean.FabricCa" >
    insert into fabric_ca (id)
    values (#{id,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.hyperledger.justitia.common.bean.FabricCa" >
    insert into fabric_ca
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>